.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align to the top of the screen */
  align-items: center; /* Center horizontally */
  height: 100vh; /* Full screen height */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  font-size: 4rem;  /* You can adjust the size to make it even bigger */
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  color: #333;  /* You can change the color if you'd like */
}

.title-container {
  display: flex;
  align-items: center;
}

.title-image {
  width: 40px; /* You can adjust the size of the image */
  height: auto;
  margin-right: 10px; /* Space between the image and the title */
}

.title {
  font-size: 3rem; /* Larger title size */
  font-weight: bold;
  text-align: center;
  color: #333;
}


